.button {
    min-width: 100px;
    font-size: 1.6rem;
    border-radius: 40px;
    padding: 20px;
    background-color: #FF550B;
    border: 0;
    position: relative;
    bottom: 0;
    color: white;
}